
.spinnerContainer{
    text-align: center ;
}
.imageContainer {
    width: 100%;
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    padding-top: 100%; /* This maintains the aspect ratio */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
   
   }
   
   .image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Adjusts the image to fill the container while maintaining its aspect ratio */
   
  }

    /* Mobile layout */
@media only screen and (max-width: 767px) {
  .uploadedImages {
     align-items: center;
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     gap: 10px; /* Adjust the gap between images as needed */
     
  }
 }
 
 /* Desktop layout */
 @media only screen and (min-width: 768px) {
  .uploadedImages {
     display: grid;
     grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
     gap: 10px; /* Adjust the gap between images as needed */
  }
 }
   