/* UploadThing Dropzone */
.uploadDropZone {
  background: rgba(255, 255, 255, 0.7);
  border-radius: 16px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border: 1px solid rgba(200, 200, 200, 0.6);
  padding: 1rem;
  width: 100%;
  max-width: 500px;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  color: #333;
  z-index: 1000;
  transition: transform 0.3s ease;
  position: relative;
  margin-bottom: 2rem;
}

.uploadDropZone:hover {
  transform: scale(1.02);
  border-color: #0070f3;
}


@media (max-width: 600px) {
  .label{
    display: none;
  }
  .uploadIcon{
     display: none;
  }
  .uploadDropZone {
    padding: 1rem;
    font-size: 0.9rem;
  }

  
}